* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


a, ul {
    display: flex;
    gap: 35px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
    background-color: black;
}

a.link1:hover, a.link1:active {font-size:150%;}
a.link2:hover, a.link2:active {color: gold;}
a.link3:hover, a.link2:active {color: silver;}
a.link4:hover, a.link2:active {color: lightseagreen;}

.image {
    float: right;
    width: 280px;
    height: 190px;
    padding-right: 700px;
}

 .head {
    padding-left: 330px;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: black;
    color: white;

 }

 .first-button {
  width: 80px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
 }

 .heading-2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
 }
 
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.img-gallery {
    width: 200px;
    border-radius: 15px;
}

.button-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

address {
    margin-left: 20px;
    margin-top: 50px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.google-maps{
    margin-top: 50px;
    margin-left: 510px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: darkblue;
    margin-top: 15px;
    padding: 10px;
    font-size: 20px;
}


